@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/ticket.css");
@import url("styles/bandlist.css");
@import url("styles/footer.css");
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:wght@100;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:wght@100;400;700&display=swap');


:root {
    --primary-color: #4650BD;
    --background-text: #008364;
    --primary-font: 'Raleway';
    --secundary-font: 'Calistoga';
    --tertiary-font: 'Calistoga', cursive;
    --white: #ffffff;
    --gradient: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
}

* {
    padding: 0;
    margin: 0;
    width: auto;
    padding: auto;
}

.section_main {
    background: var(--gradient);
}