@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/ticket.css");
@import url("styles/bandlist.css");
@import url("styles/footer.css");
@import url("styles/experience.css");
@import url("styles/map.css");
@import url("styles/info.css");
@import url("styles/register.css");
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:wght@100;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:wght@100;400;700&display=swap');


:root {
    --primary-color: #4650BD;
    --background-text: #008364;
    --primary-font: 'Raleway';
    --secundary-font: 'Calistoga';
    --white: #ffffff;
    --gradient: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
}

* {
    padding: 0;
    margin: 0;
    width: auto;
    padding: auto;
}

.section_main,
.main-maps,
.section_main-exp,
.information-main,
.main-register
 {
    background: var(--gradient);
}

@media screen and (max-width: 500px) {
    .developed-by {
        font-size: 15px;
    }
}

