.line_up {
    text-align: center;
    color: var(--white);
}

.line_up-text {
    font-family: var(--secundary-font);
    font-weight: 400;
    font-size: 48px;
    padding: 0.5em;
}

.line_up-line {
    display: flex;
    justify-content: space-around;
}

hr {
    margin: 1.5em;
}

.line_up-day {
    font-family: var(--secundary-font);
    font-weight: 400;
    font-size: 28px;
    background-color: var(--background-text);
    border-radius: 10px;
    padding: 1em;
}

.line_up_band {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 24px;
    padding: 1em;
}

.band-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 10em;
    list-style: none;
}

.first-line {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    padding: 1em;
}

.second-line {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    padding: 1em;
}

.third-line {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    padding: 1em;
}

@media screen and (max-width: 728px) {
    .band-list {
        margin: 1em;
    }
}