.banner {
    background-image: url("img/Banner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 13.8%;
    box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.603);
    position: relative;
}

.banner-2 {
    background-image: url("img/Imagem.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 13.8%;
    box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.603);
    position: relative;
}
