.banner,
.banner-2,
.banner-exp,
.banner-maps,
.banner-information {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 13.8%;
    box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.603);
    width: auto;
    height: auto;
}

.banner {
    background-image: url("../img/Banner.svg");
}

.banner-2 {
    background-image: url("../img/Imagem.svg");
    position: relative;
}

/* EXPERIENCE.HTML */

.banner-exp {
    background-image: url("../img/exp/Banner.svg");
}

/* MAPS.HTML */

.banner-information {
    background-image: url("../img/information/Banner.svg");
}

/* INFORMATION.CSS */

.banner-information {
    background-image: url("../img/maps/Banner.svg");
}
