.header {
    background-color: var(--primary-color);
    position: relative;
}
.header_itens {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: space-between;
}
.header_logo {
    text-align: center;
}
.logo-code {
    width: 50%;
    padding: 1em;

}
.header_icons {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 90%;
}

.header_links {
    flex-wrap: wrap;
    text-decoration: none;
    color: var(--white);
    padding: 1em 1em;
    
}
.container {
    padding: 1em;
    text-align: right;
    
}

.menu_hamburguer {
    display: none;
}

.hamburguer-itens {
    text-align: center;
    background-color: var(--primary-color);
    list-style: none;
    position: absolute;
    right: 1%;
    top: 100%;
    padding: 1em;
    display: none;
    z-index: 2;
}


.hamburguer-links {
    text-align: center;
    margin: 1em 0.3em;
}
.links {
    font-family: var(--primary-font);
    font-weight: 700;
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
}

.container {
    display: none;
}
.menu_hamburguer:checked~ .hamburguer-itens {
    display: block;
}

@media screen and (max-width: 1174px){
    .logo-code {
        width: 50%;
        padding: 1em;
    
    }
    .header_itens {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    .container {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .container {
        display: block;
    }
    .header_itens {
        display: grid;
    }
    .logo-code {
        width: 70%;
        padding: 1em;
    }
    .header_icons {
        display: none;
        
    }
}