.header {
    background-color: var(--primary-color);
}
.header_itens {
    margin: 0 1em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_icons {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 20px;
}

.header_links {
    text-decoration: none;
    color: var(--white);
    margin: 0 1em 0 0;
    
}

@media screen and (max-width: 768px){
    .header_itens {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
}