#accordion {
    width: 40%;
    margin: auto;
    padding: 1em;
    text-align: center;
}

.title {
    color: var(--white);
    padding: 1em;
    
}

.sub-title {
    color: black;
    font-family: var(--primary-font);
    font-size: 20px;
    text-align: center;
    padding: 0.5em;
    font-weight: 500;
    display: block;
    margin: auto 0px;
    cursor: pointer;
    transition: .2s;
}

.info-text {
    text-align: left;
    font-family: var(--primary-font);
    font-size: 14px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 1px 5px 5px;
    padding: 0 10px;
}


 .accordions .list {
    position: relative;
    list-style: none;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 10px 10px 2px 8px rgba(0, 0, 0, 0.315);
}

.accordions .list +.list {
    margin-top: 30px;
}


#accordion input[type=checkbox] {
    display: flex;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}


#accordion input[type=checkbox]:checked~ .info-text {
    display: none;
}


@media screen and (max-width: 650px) {
    #accordion {
        width: 65%;
        margin: auto;
        padding: 1em;
        text-align: center;
    }

    .sub-title {
        font-size: 18px;
    }

}

